body {
  background: #f2f2f2;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 70px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
