body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}


input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
