body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    margin: 5px 0;
}

button {
    margin-top: 10px;
}

.card {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #333;
    width: fit-content;
    border-radius: 5px;
}
