body {
    font-family: Arial, sans-serif;
    background: #07d7f3;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

form {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    width: 360px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background: #45a049
}